$cyan: #0dcaf0 !default;
$blue: #0d6efd !default;
$primary: $cyan;
$info: $blue;

@import "node_modules/bootstrap/scss/bootstrap";

.table td.bg-danger-light,
.bg-danger-light {
  background-color:#fef2f2;
}

.btn-primary,
.btn-primary:hover {
  color: #FFF;
}
