{{page-title "Entity Resolution PoC | Publiq"}}
<BsNavbar @type="dark" @backgroundColor="primary" as |navbar|>
  <LinkTo @route="index" class="navbar-brand">
    Publiq Entity Resolution PoC
  </LinkTo>
  {{#if this.session.isAuthenticated}}
    <navbar.content>
      <navbar.nav as |nav|>
        <nav.item>
          <nav.link-to @route="index">
            Home
          </nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="sparql">
            SPARQL
          </nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="mappings.next">
            Mappings
          </nav.link-to>
        </nav.item>
      </navbar.nav>
    </navbar.content>
    <MuLogout>
      logout
    </MuLogout>
    <navbar.toggle />
  {{/if}}
</BsNavbar>

<div class="mt-4">
  {{outlet}}
</div>

<div id="ember-bootstrap-wormhole"></div>