{{page-title "Entity Resolution PoC | Publiq"}}

<BsNavbar @type="dark" @backgroundColor="primary" as |navbar|>
  <LinkTo @route="index" class="navbar-brand fw-medium">
    Publiq Entity Resolution PoC
  </LinkTo>
  {{#if this.session.isAuthenticated}}
    <navbar.content>
      <navbar.nav as |nav|>
        <nav.dropdown as |dd|>
          <dd.toggle class="fw-medium">
            Location mappings <span class="caret"></span>
          </dd.toggle>
          <dd.menu as |ddm|>
            <ddm.item>
              <ddm.link-to @route="mappings.location.proposed">
                Proposed mappings
              </ddm.link-to>
            </ddm.item>
            <ddm.item>
              <ddm.link-to @route="mappings.location.done">
                Verified mappings
              </ddm.link-to>
            </ddm.item>
            <ddm.item>
              <ddm.link-to @route="mappings.location.auto">
                Automatic mappings
              </ddm.link-to>
            </ddm.item>
          </dd.menu>
        </nav.dropdown>
        <nav.dropdown as |dd|>
          <dd.toggle class="fw-medium">
            Generic mappings <span class="caret"></span>
          </dd.toggle>
          <dd.menu as |ddm|>
            <ddm.item>
              <ddm.link-to @route="mappings.generic.proposed">
                Proposed mappings
              </ddm.link-to>
            </ddm.item>
            <ddm.item>
              <ddm.link-to @route="mappings.generic.done">
                Verified mappings
              </ddm.link-to>
            </ddm.item>
            <ddm.item>
              <ddm.link-to @route="mappings.generic.auto">
                Automatic mappings
              </ddm.link-to>
            </ddm.item>
          </dd.menu>
        </nav.dropdown>
      </navbar.nav>
    </navbar.content>
    <div class="text-white">
      {{svg-jar "person-fill"}}
      {{this.currentSession.user.name}}
    </div>
    <MuLogout />
    <navbar.toggle />
  {{/if}}
</BsNavbar>

<div class="mt-4">
  {{outlet}}
</div>

<div id="ember-bootstrap-wormhole"></div>