{{page-title "Entity Resolution PoC | Publiq"}}

{{outlet}}

{{! The following component displays Ember's default welcome message. }}
<WelcomePage />
{{! Feel free to remove this! }}

 <div id="ember-bootstrap-wormhole"></div>