{{page-title "Entity Resolution PoC | Publiq"}}

<BsNavbar @type="dark" @backgroundColor="primary" as |navbar|>
  <LinkTo @route="index" class="navbar-brand fw-medium">
    Publiq Entity Resolution PoC
  </LinkTo>
  {{#if this.session.isAuthenticated}}
    <navbar.content>
      <navbar.nav as |nav|>
        <nav.item>
          <nav.link-to @route="mappings.proposed" class="fw-medium">
            Proposed mappings
          </nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="mappings.done" class="fw-medium">
            Verified mappings
          </nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="mappings.auto" class="fw-medium">
            Automatic mappings
          </nav.link-to>
        </nav.item>
      </navbar.nav>
    </navbar.content>
    <div class="text-white">
      {{svg-jar "person-fill"}}
      {{this.currentSession.user.name}}
    </div>
    <MuLogout />
    <navbar.toggle />
  {{/if}}
</BsNavbar>

<div class="mt-4">
  {{outlet}}
</div>

<div id="ember-bootstrap-wormhole"></div>